/*Estilos para el navbar con el color de fondo*/
.navbar {
    background-color: #a8a8a8;
    padding: 10px 0;
    /*Espacio interno arriba y abajo del contenido den navbar*/
    text-align: center;
    /*Centrar el contenido del navbar*/
    font-weight: bold;
    /*Para poner negrita la letra*/
}

.navbar-nav .nav-link {
    color: #fff;
}

.titulo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-fluid {
    height: 10%;
    width: 100%;
}